*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}

.name{
    height: 30px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 5px black;
    
}



ul li{
    list-style: none;
}


body{
    display: flex;
    width: 100%;
    flex-direction: column;
}
main{
    display: flex;
    width: 100%;

    
}
.menu_categoria{
    display: flex;
    width: 100%;
    width: 15rem;
    
        
}

aside{
    display: flex;
    width: 100%;
    display: inline;
    justify-items: center;
    max-width: 15rem;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 2rem;
    background-color: #386C5F;
    color: #fff;
    

}
.menu-main ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    


}

.menu-main ul .link_menu {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    
    
}


.categoria{
    display: flex;
    width: 100%;
    min-width: 1rem;
    margin-bottom: 1rem;
    

}
.book_compra{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:2rem;
}

.gallery{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    

}
section .gallery{
    display: flex;
    justify-items: center;
    text-align: center;
    

}
.gallery > div {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    width: 12rem;
    justify-items: center;
    align-items: center;
    background-size: auto;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
   
}
.gallery > .catalogo_produtos{
    background-color: #ffffff;
    box-shadow: 0 0 5px black;
    
    
}
.gallery > div> img{
    display: flex;
    width: 100%; 
    border-radius: 0.5rem;  
    object-fit: cover; 
}
.gallery{
    margin-top: 2rem;
    
    gap: 4rem ;
}

.button{
    background: #69E0AE; 
    width: 120px;
    border-radius: 16px;
    border: #69E0AE;
    padding: 8px; 
    box-shadow: 0 0 5px black


   

}
.filtro{
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 2rem;   
    background-color: #386C5F;
  
}
.filtro .resultado{
    margin-left: 1rem;
    color: #ffffff;
}
.filtro #sort-by{
    margin-right: 1rem;
    border-radius: 0.5rem;
}

ul.style_litst {
    display: flex;
    margin-bottom: 2rem;
    text-decoration:none;
    
}
a:link{
    text-decoration:none;
    color: inherit
}