@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');


footer *{
    font-family: 'Poppins', sans-serif;

}

footer {
    width: 100%;

    bottom: 0;


    display: flex;
    align-items: center;
    flex-direction: row; 
    /* top: 500px; */
    background: #9CD9C2;
    display: block;
    border-radius: 0 2rem 0 0;
} */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-footer {
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    -moz-box-shadow: 0 1rem 1rem rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 1rem 1rem rgba(182, 182, 182, 0.75);
    box-shadow: 0 .1rem .1rem rgba(182, 182, 182, 0.75);

}

#logo2 {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    max-width: 100%;
    /* background-color: #4EC16E; */

}

.columninstitucional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: #4EC16E; */
}

.columninstitucional ul li {
    padding: .1rem 0;
    font-size: .8rem;

}

.columnsite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.columnsite ul li {
    padding: .1rem 0;
    font-size: .8rem;
}

.columnpagamento {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: #4EC16E; */
}

.cartoes1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartoes2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.columnpagamento * img {

    align-items: center;
    width: 2rem;

}

.redes {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: #4EC16E; */
}

.redes nav a {
    max-width: 100%;
    padding: .3vw;
}

.autores {
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;
    
}

.autores>nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.autores nav li a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    padding: 0 2rem;
}

.mobile-menu {
    display: none;
}
