* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;

}

main{
    display: flex;
    flex-flow: row nowrap;
    gap: 4rem;
    padding-right: 4rem;
}

main > div:first-child{
    max-height: 100%;
    display: flex;
    margin-top: 4rem;
    gap: 1rem;
    
}

.título{
   justify-content: center;
    font-size: 3rem;

}
.sinopse{
    display: flex;
    font-size: 2.5rem;
    width: 50vw;
    height: 30vh;
    text-align: justify;

   
}
.autor{
    font-size: 1.2rem;
    color: gray;
    margin: 0;
    margin-top: 0.5rem;

}
.capaprincipal{
    margin-top: 13rem;
    margin-left:  -13rem;
}
    
  .capaprincipal >img{
    margin: 2rem;
    max-width: 100rem;
    min-height: 50rem;
  
    }
    .secondsection{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        margin-top: 19rem;
    }
  .imagensdolivro{
    
    margin: 11rem;
    margin-top: 5rem;
  
  }

  .containera>img{
    margin: 5rem;
    width: 3vw;
    height: 3vh;
   align-items: center;
   margin-top: 0.2rem;
   border-radius: 1rem;
  }
  .containere>img{
    margin: 5rem;
    width: 3vw;
    height: 3vh;
   align-items: center;
   border-radius: 1rem;
  }
  .containerb>img{
    width: 6.5vw;
    margin: 1rem;
  }
  .containerc>img{
    width: 6.5vw;
    margin: 1rem;
  }
  .containerd>img{
    width: 6.5vw;
    margin: 1rem;
  }
    span{
      
    display: flex;
    justify-content: left;
    font-size: 3.2rem;
    font-family: poppins;
    color: red;
    font-weight: 800;

    }
    
    .quantidades{
        display: flex;
        gap: 8rem;
        align-items: center;
        margin-top: 5rem;
    }
    .quantidades >button{
        color: white;
        background: #4EC16E;
        font-weight: 800;
        font-size: 2rem;
   width: 10vw;
   height: 5vh;
   border-radius: 1rem;
    }
    
    #quantidade{
        background: #9CD9C2;
        font-size: 2rem;
        font-weight: 700;
        width: 4vw;
        height: 4vh;
        margin: 1rem;
     text-align: center;
     border-radius: 1rem;
        
    
    }
    @media (min-width: 1200px) {
        body * {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    .columninformation {

        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 1rem 2rem;
        font-style: normal;
        font-weight: 70;
        font-size: 17px;
        display: flex;
        justify-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
     .columninformation > div  {
        display: flex;
        align-items: center;
        flex-direction: column;
     }
    
     .columninformation > div p:last-child {
        font-weight: 600;
        width: 100%;
        font-size: 21px;
    
    
     }
    
     .author {
        background-color: #286152;
        padding: 3rem;
        display: flex;
        gap: 4rem;
        align-items: center;
        font-size: 30px;
        width: 100%;
        
     }
    
     .author > div:last-child {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    
        font-size: 30px;
        width: 100%;
        
    }
    
     .author > div:last-child p:first-child {
        font-size: 1.5rem;
    
     }
    
     .author > div:last-child h5{
        font-size: 1.1rem;
     } 
    
    
    .columnauthor {
        
        padding: 4rem 2rem;
        font-family: 'Asul';
        font-style: normal;
        font-weight: 70;
        font-size: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        
    }
    
    .imageauthor {
        background-image: url(./img/emily.webp);
        width: 10rem;
        height: 10rem;
        background-size: cover;
        background-position: 75% 30%;
        border-radius: 50%;
    }
    
    
    .columnauthor2 {
        
        font-family: 'Asul';
        font-style: normal;
        font-weight: 700;
        font-size: px;
        width: 100%;
        color: white;
    }
    .columnauthor3 {
        
        font-family: 'Asul';
        font-style: normal;
    
    }
   
    
    section > div .item{
    
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    /*CARROSSEL*/
    .continue-vendo {
        display: flex;
        flex-direction: column;
        padding: 4vw 5vw;
        position: relative;
        width: 100%;
    
    }
    
    
    .gallery {
        display: flex;
        flex-flow: row nowrap;
        gap: 2vw;
        list-style: none;
    }
    
    .gallery * div {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        min-width: 3rem;
        max-width: 10rem;
        text-align: center;
    }
    
    
    .item {
        max-height: 15rem;
        height: 50vw;
        border-radius: 5%;
        align-items: center;
    }
    
    /* BOTOES - ARROW LEFT E RIGHT */
    
    .arrow-left {
        top: 0;
        bottom: 0;
        left: 2vw;
        right: auto;
        margin: auto;
        position: absolute;
        width: 9vw;
        height: 9vw;
        max-width: 50px;
        max-height: 50px;
        background-color: #4EC16E;
        border-radius: 20%;
        color: white;
        opacity: .5;
        cursor: pointer;
    }
    
    .arrow-right {
        top: 0;
        bottom: 0;
        left: auto;
        right: 2vw;
        margin: auto;
        position: absolute;
        width: 9vw;
        height: 9vw;
        max-width: 50px;
        max-height: 50px;
        background-color: #4EC16E;
        border-radius: 20%;
        color: white;
        opacity: .5;
        cursor: pointer;
    }    