@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

footer *,
header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* a {
    text-decoration: none;
    color: black;
}

/* HEADER */


header {
    position: fixed;
    max-width: 100%;
    width: 100%;
    z-index: 3;
}


.container-header {
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    height: 40px;
    max-height: 5rem;
    width: 100%;
    background-color: #9CD9C2;
}

.container-header nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons div:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.2s;

}

.icons div {
    padding: 10%;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vw;
    max-height: 2.5rem;
    flex-wrap: nowrap;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.conta {
    display: none;
}

#lupa {
    display: flex;
}

svg {
    height: 6vw;
    max-height: 2.5rem;
    width: auto;
}

#search {
    display: none;
}


.navegacao {
    letter-spacing: .05rem;
    align-items: center;
    padding: 0 5%;
    display: inline-block;
    height: 25px;
    width: 100%;
    background-color: #9CD9C2;
    word-wrap: break-word;
    overflow-x: auto;
    box-shadow: 0 .01rem .4rem .01rem #949494;
}

.navegacao nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.lista li a {
    align-items: center;
    text-decoration: none;
    padding: .8rem 1rem;
    color: black;
    font-size: clamp(.6rem, 100%, .8rem);
    white-space: nowrap;
}

.lista li a:hover {
    background-color: #4EC16E;
    color: white;
}

.conta {
    display: none;
}

/* FOOTER */

#logo2 {
    display: none;
}

.footer {
    display: flex;
    background-color: #9CD9C2;
    font-size: .9rem;
    flex-direction: column;
    border-radius: 2vw 2vw 0 0;
}

.container-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-footer div {
    padding: 1.5rem 3vw;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}



#cards {
    height: 10vw;
    max-height: 3rem;
    background-color: transparent;
}

#redes-sociais * a {
    padding: 0 5px;
}


.autores {
    box-shadow: 0 .01rem .4rem .01rem #949494;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.autores  ul {
    padding: 1rem;
    gap: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



@media (min-width: 768px) {

    header,
    footer {
        max-width: 100%;
        /* margin: 0 auto; */
    }

    .container-header {
        height: 50px;
    }


    #search {
        display: flex;
        font-size: .8rem;
        font-style: italic;
        padding: 0 1rem;
        height: 2rem;
        width: 50vw;
        max-height: 2rem;
        max-width: 100%;
        border-radius: 2rem;
        border: none;

    }

    #lupa {
        display: none;
    }



    .lista {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo2 {
        display: block;
        align-items: center;
        height: 5rem;
    }

    .autores ul {
        height: auto;
        display: flex;
        flex-direction: row;
             }


}
@media (min-width: 1200px) {

    header,
    footer {
        max-width: 100%;
        margin: 0 auto;
    }

    svg {
        max-height: 6vh;
        width: auto;
    }




}