@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

footer *,
header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    max-width: 100%;
    width: 100%;
}

.container-header {
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    height: 10vw;
    max-height: 5rem;
    width: 100%;
    background-color: #9CD9C2;
}

.container-header nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons div {
    padding: 10%;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vw;
    max-height: 3rem;
    flex-wrap: nowrap;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.conta {
    display: none;
}

#lupa {
    display: flex;
}

svg {
    height: 7vw;
    max-height: 2.5rem;
    width: auto;
}


#search {
    display: none;
}


.navegacao {
    letter-spacing: .05rem;
    align-items: center;
    padding: 0 5%;
    display: inline-block;
    height: 7vw;
    max-height: 2rem;
    width: 100%;
    background-color: #9CD9C2;
    word-wrap: break-word;
    overflow-x: auto;
    overflow: ;
    box-shadow: 0 .01rem .4rem .01rem #949494;
}

.navegacao ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lista li a {
    align-items: center;
    text-decoration: none;
    padding: .8rem 1rem;
    color: black;
    font-size: clamp(.7rem, 2.5vw, .8rem);
    /* font-size: .8rem; */
    white-space: nowrap;
}

.conta {
    display: none;
}


#logo2 {
    display: none;
}

.footer {
    display: flex;
    background-color: #9CD9C2;
    font-size: .9rem;
    flex-direction: column;
    border-radius: 5vw 5vw 0 0 ;
}

.container-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-footer div {
    padding: 1.5rem 3vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}


#cards {
    height: 10vw;
    max-height: 3rem;
    background-color: transparent;
}


.autores * ul {
    padding: 1rem;
    gap: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 .01rem .4rem .01rem #949494;
}



/* #logo {
    display: flex;
    justify-content: center;
    width: 4rem;
}



footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    max-width: 100%;
    width: 100%;
    background: #9CD9C2;
    display: block;
    border-radius: 0 2rem 0 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.container-footer {
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    -moz-box-shadow: 0 1rem 1rem rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 1rem 1rem rgba(182, 182, 182, 0.75);
    box-shadow: 0 .1rem .1rem rgba(182, 182, 182, 0.75);

}

#logo2 {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    max-width: 100%;

}

.columninstitucional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.columninstitucional ul li {
    padding: .1rem 0;
    font-size: .8rem;

}

.columnsite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.columnsite ul li {
    padding: .1rem 0;
    font-size: .8rem;
}

.columnpagamento {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.cartoes1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartoes2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.columnpagamento * img {

    align-items: center;
    width: 2rem;

}

.redes {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.redes nav a {
    max-width: 100%;
    padding: .3vw;
}

.autores {
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;
    font-style: i;
}

.autores>nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.autores nav li a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    padding: 0 2rem;
}

.mobile-menu {
    display: none;
} */

@media (min-width: 768px) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }

    #search {
        display: flex;
        font-size: .8rem;
        font-style: italic;
        padding: 0 1rem;
        height: 2rem;
        width: 50vw;
        max-height: 2rem;
        max-width: 100%;
        border-radius: 2rem;
        border: none;

    }

    #lupa {
        display: none;
    }

    .lista ul {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo2 {
        display: block;
        align-items: center;
        height: 5rem;
    }


}

@media (max-width: 768px) {
    .autores * ul {
        padding: 1rem;
        gap: 1rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        box-shadow: 0 .01rem .4rem .01rem #949494;
    }

}

@media (min-width: 1920px) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }
}