
section > div .item{

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}


.carrossel {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.container {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
 
        
}

.item img {
    display: flex;
    width: 80%;
    height: 20rem;
    border-radius: 8px;
    object-fit: cover;
    display: flex;

}

.item h3 {
    margin: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.item span {
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
}

.botao1 {
    display: flex;
    align-items: center;
   
    width: 10rem;
    height: 4rem;
    border-radius: 50rem;
    border: none;
    background-color: #4EC16E;
    
}

.botao2 {
    display: flex;
    align-items: center;
    
    width: 4rem;
    height: 4rem;
    border-radius: 50rem;
    border: none;
    background-color: #4EC16E;
    

}

.botao1 img{
    
    height: 3rem;
    border-radius: 12px;
    border: none;
    rotate: 180deg;
    justify-items: center;
}

.botao2 img{
    width: 3rem;
    height: 3rem;
    border-radius: 12px;
    border: none;
}