
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Ropa+Sans:ital@0;1&display=swap');

html{
    font-size: 90%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
position: relative;
top: 90px;
    background-color:#9CD9C2;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    top: 13rem;
    width: 70vw;
    display: flex;
    align-items: center;
    list-style: none;

}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color:black;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 100%;
line-height: 1rem;
padding: 2rem 2rem 2rem 2rem;

}
nav li a:hover{
    background-color: #A0EEC8;
    
    color: black;
}


.layout{
    width: 70vw;
    height: 80vh;
    background:#F6F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header >img{
position: absolute;
width: 70vw;
height: 80vh;

}

    #headerinicial >img{
        position: absolute;
        width: 70vw;
    height: 10vh;
        align-items: center;
        text-decoration: none;
            font-weight: 200;
             
        }
#logo >img{
    position: absolute;
    width: 120px;
    height: 60px;
    left: 690px;
    top: 15px;
         
    }
    #icon >img{
        position: absolute;
        width: 30px;
        height: 25px;
        left: 1500px;
        top: 17px;
             
        }

.capaprincipal >img {
    position: absolute;
    width: 17%;
    padding: 0;
    top: 13rem;
    left: 60rem;
     font-weight: 200;
     border-radius: 1.5rem;
  
}

.título{
position: absolute;
width: 100%;
left: 60%;
top:13rem;
font-weight: 800;
font-family: 'Poppins';
font-size: 1.5rem;
align-items: center;
display: flex;
color: #000000;
}
.autor{
    position: absolute;
width: 23vw;
height: 12vh;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1rem;
top: 15rem;
color: grey;
text-transform: uppercase;
left: 97rem;
}
.sinopse{
position: absolute;
width: 32vw;
height: 20vh;
left: 60%;
top: 20rem;
font-family: 'Poppins';
font-weight: 700;
font-size: 1.5rem;
align-items: center;
transform: matrix(1, 0, 0, 1, 0, 0);

}
.capaemily >img{
    position: absolute;
    width: 5%;
    padding: 0;
    top: 16rem;
    left: 50rem;
     font-weight: 200;
     
}
.capa >img{
    position: absolute;
    position: absolute;
    width: 5%;
    padding: 0;
    top: 29rem;
    left: 50rem;
     font-weight: 200;
}

.capaverso >img{
    position: absolute;
    width: 5%;
    padding: 0;
    top: 42rem;
    left: 50rem;
     font-weight: 200;
}


.texto .botoes button{
    position: absolute;
width: 10vw;
height: 6vh;
top: 46rem;
left: 110rem;
font-size: 150%;
font-family: 'Poppins';
color:white;
background: #4EC16E;
border-radius: 25px;
}
footer{
    position: absolute;
width: 1120px;
height: 150px;
left: 660px;
top: 1900px;
background: #9CD9C2;
margin: 0;
padding: 0;
box-sizing: border-box;
display: block;


}
.columninstitucional {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    font-size: 8px;
    font-weight: 90px;
    height: 300px;
top: 20px;
right: 20px;
font-family: 'Asul';
font-style: normal;
line-height: 27px;


}
.columnpagamento  {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    font-size: 8px;
    font-weight: 90px;
    height: 200px;
top: 20px;
right: 300px;
font-family: 'poppins';
font-style: normal;
text-decoration: none;
}


.mobile-menu{
    display: none;
}
@media (min-width: 768px) {
    body {
      max-width: 768px;
      margin: 0 auto;
    }
  }
 
  @media (min-width: 992px) {
    body {
      max-width: 992px;
    }
  }
  
 