
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Ropa+Sans:ital@0;1&display=swap');

html{
    font-size: 12px;
}
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

nav{
    background-color:#9CD9C2;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

nav ul{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    left: 20%;
    gap: 1rem;
    flex-flow: row wrap;
  top: 2rem;
}

nav li a{
    text-decoration: none;
    color:black;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 90%;



}
nav li a:hover{
    background-color: #A0EEC8;
    color: black;
}

header{
    background-color: #9CD9C2;
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-direction: column;
   border-bottom: 0.2rem solid gray;
}

#logo {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
border-bottom: 0.2rem solid gray;
}
  #logotipo {
    width: 10rem;
  }

  main{
    background: #F6F9FF;
    width: 996px;
    height:600px;
  }
    .icone {
        width: 3rem;
        height: 3rem;

    }

.capaprincipal >img {
    position: absolute;
    width: 11%;
    padding: 0;
    top: 17rem;
    left: 65rem;
     font-weight: 200;
     border-radius: 1.5rem;
  
}

.título{
position: absolute;
width: 19%;
left: 49%;
top:22rem;
font-weight: 900;
font-family: 'Poppins';
font-size: 1.5rem;
align-items: center;
display: flex;
color: #000000;
}
.autor{
position: absolute;
width: 23vw;
height: 12vh;
font-family: 'Poppins';
font-style: normal;
font-size: 1rem;
top: 24rem;
color: grey;
left: 95rem;
}
.sinopse{
position: absolute;
width: 20vw;
height: 14vh;
left: 49%;
top: 28rem;
font-family: 'Poppins';
font-size: 1rem;
align-items: center;

}
.capaemily >img{
    position: absolute;
    width: 3%;
    padding: 0;
    top: 21rem;
    left: 57rem;
     font-weight: 200;
     
}
.capa >img{
    position: absolute;
    width: 3%;
    padding: 0;
    top: 30rem;
    left: 57rem;
     font-weight: 200;
}

.capaverso >img{
    position: absolute;
    width: 3%;
    padding: 0;
    top: 39rem;
    left: 57rem;
     font-weight: 200;
}


.texto .botoes button{
    position: absolute;
    width: 12rem;
    height: 4rem;
top: 46rem;
left: 110rem;
font-size: 20px;
font-weight: 800px;
font-family: 'Poppins';
color:white;
background: #4EC16E;
border-radius: 10px;
}
#cima >img{
width: 4rem;
height: 2rem;
border-radius: 8px;
padding: 0rem;
top: 40px;
left: 30px;
position: relative;

}
#baixo >img{
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    padding: 0rem;
    top: 400px;
    left: 30px;
    position: relative;
    
    }
span{
    position: relative;
    top: 24rem;
width: 20%;
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 26px;
margin-inline-start: 500px;
color: red;

}


#quantidade  {
position: absolute;
width: 5rem;
height: 3rem;
top: 48rem;
left: 96rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 23px;
background: #9CD9C2;
border-radius: 10px;
align-items: center;
justify-content: center;
color: #000000;
text-align: center;
}

footer{
    position: absolute;
width: 1120px;
height: 150px;
left: 660px;
top: 1900px;
background: #9CD9C2;
margin: 0;
padding: 0;
box-sizing: border-box;
display: block;


}
@media (min-width: 768px) {
    body {
      max-width: 768px;
      margin: 0 auto;
    }
  }
  
  
  @media (min-width: 992px) {
    body {
      max-width: 992px;
    }
  }
  