<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/detalhes.css">
    <link rel="stylesheet" href="../css/button.css">
    <title>Avalon</title>
</head>

<body>
    <header>

        <section class="container-header">
            <img id="logo" src="../img/logopreto.png" alt="">

            <div class="busca">
                <form action="/search">
                    <input type="text" name="search" id="search" scr="../img/lupa.png"
                        placeholder="Títulos, Autores e Gêneros ">
                </form>
            </div>

            <nav class="icons">
                <div class="conta">
                    <ul type="none">
                        <li><a href="">Minha Conta </a></li>
                        <li><a href="">Faça login</a></li>
                    </ul>
                </div>
                <div>
                    <button id="lupa">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search" viewBox="-2 -2 20 20">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>

                <div>
                    <button id="login">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="-2 -2 20 20">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </button>
                </div>
                <div>
                    <button id="car-shopping">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-cart" viewBox="-2 -2 20 20">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </button>
                </div>


            </nav>
        </section>
        <section class="navegacao">
            <nav class="lista">
                <ul type="none">
                    <li> <a href="#"> PÁGINA INICIAL</a> </li>
                    <li> <a href="#"> HOME</a> </li>
                    <li> <a href="#"> TODOS OS LIVROS</a> </li>
                    <li> <a href="#"> GÊNEROS</a> </li>
                    <li> <a href="#"> QUEM SOMOS</a> </li>
                    <li> <a href="#"> FALE CONOSCO</a> </li>
                </ul>
            </nav>
            <section>
    </header>
    <main>
        <section class="detalhesdolivro">
            <section class="imagensdolivrovertical">
                <div class="container">
                    <img class="setas" src="../img/setacima.png" alt="">
                    <img class="livrinhos" src="../img/image 4.png" alt="">
                    <img class="livrinhos" src="../img/image2.png" alt="">
                    <img class="livrinhos" src="../img/image3.png" alt="">
                    <img class="setas" src="../img/setabaixo.png" alt="">
                </div>
                <section class="capaprincipal">
                    <img id="capa" src="../img/uivantes.png" alt="">
                </section>
            </section>
            <section class="descricaodolivro">
                <div class="título">
                    <h5>O MORRO DOS VENTOS UIVANTES</h5>
                    <h6> Por Emily Bonte</h6>
                </div>
                <div class="detalhes">
               
                        <p class="sinopse">
                            Publicado pela primeira vez em 1847, O Morro dos Ventos
                            Uivantes é um romance de igual beleza e brutalidade.
                            Com múltiplas perspectivas narrativas, o livro toca
                            em temas primordiais para a sociedade, como questões
                            de alteridade, empatia, comunicação e preconceitos.
                            Reconhecido como uma das grandes obras da literatura
                            mundial, o livro já teve mais de 10 adaptações
                            cinematográficas, influenciando também a música pop
                            com a canção de Kate Bush no final da década de 1970.
                        </p>

                </div>
                    <div class="containercomprar">
                        <span class="precolivro">R$59,90</span>
                        <label for="quantidade">
                            <div class="quantidades">
                                <input type="number" id="quantidade">
                                <button>COMPRAR</button>
                            </div>
                        </div>
            </section>
        </section>
        <section class="containercolumninformation">
            <div class="columninformation">
                <div>
                    <p>Editora</p>
                    <p>Principis</p>
                </div>
                <div>
                    <p>Ano de publicação</p>
                    <p>2019</p>
                </div>
                <div>
                    <p>Idioma</p>
                    <p>Português</p>
                </div>
                <div>
                    <p>Páginas</p>
                    <p>368</p>
                </div>
                <div>
                    <p> Dimensões</p>
                    <p>15.24x2.08x22.86cm</p>
                </div>
                <div>
                    <p> Acabamento</p>
                    <p>Capa comum</p>
                </div>
                <div>
                    <p> ISBN-10</p>
                    <p>8594318235</p>
                </div>
                <div>
                    <p>ISBN-13</p>
                    <p>978-8594318237</p>
                </div>
        </section>
        <section class="containercolumninformation">
            <div class="columnauthor">
                <p> É considerado um clássico da literatura
                    inglesa e recebeu fortes críticas no século
                    XIX por ser uma escrita controversa
                    e intensa. O romance teve várias
                    adaptações para a televisão e para
                    o cinema ao longo dos anos.
                </p>

                <p>

                    Esta é uma história divide opiniões
                    entre os leitores. Os personagens em
                    destaque são profundos, complexos,
                    enigmáticos, assustadores e sobretudo
                    fascinantes, venha se aventurar em meio
                    aos sentimentos obscuros de Heathcliff
                    e Catherine.
                </p>
            </div>
                    </section>

        <section class="author">

            <div class="imageauthor">
                <img src="../img/emilybronte.jpg">
            </div>
            <div class="columnauthor3">
                <h5>SOBRE O AUTOR</h5>
                <p>Emily Brontë</p>

                <p> Descubra mais livros do autor,
                    veja autores semelhantes,
                    leia blogs de autores e muito mais.</p>

            </div>
        </section>

        <section>
            <div class="continue-vendo">
                <h5>CONTINUE VENDO</h5>

                <div class="carrousel">
                    <button class="arrow-left"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-caret-left-fill" viewBox="-2 -2 20 20">
                            <path
                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                        </svg></button>
                    <ul class="gallery">
                        <li>
                            <img class="item current-item" src="../img/mariko-capa.jpg"
                                alt="mariko">
                            <div>
                                <h5>MY BROKEN MARIKO</h5>
                                <span>R$ 39,90</span>
                            </div>
                        </li>

                        <li>
                            <a href=""><img class="item current-item" src="../img/DNA.jpeg" alt="dna"></a>
                            <div>
                                <h5>DNA MILIONÁRIO</h5>
                                <span>R$ 49,90</span>
                            </div>
                        </li>

                        <li>
                            <img class="item current-item" src="../img/miseraveis-capa.jpeg"
                                alt="miseraveis">
                            <div>
                                <h5>OS MISERÁVEIS</h5>
                                <span>R$ 139,90</span>
                            </div>

                        </li>

                        <li>

                            <img class="item current-item" src="../img/hobbit-capa.jpg" alt="hobbit">
                            <div>
                                <h5>O HOBBIT</h5>
                                <span>R$ 59,90</span>
                            </div>

                        </li>

                        <li>
                            <img class="item current-item" src="../img/mobydick-capa.jpg"
                                alt="moby-dick">
                            <div>
                                <h5>MOBY DICK</h5>
                                <span>R$ 129,90</span>
                            </div>
                        </li>

                        <li>
                            <img class="item current-item" src="../img/caliba-capa.jpg" alt="caliba">
                            <div>
                                <h5>CALIBÃ E A BRUXA</h5>
                                <span>R$ 59,90</span>
                            </div>
                        </li>

                    </ul>
                    <button class="arrow-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg></button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer">
            <section class="container-footer">
                <div class="column" id="logo2">
                    <img id="logo2" src="../img/logopreto.png" alt="">
                </div>

                <div class="column">
                    <section>
                        <h5>Privacidade e Termos</h5><br>
                    </section>
                    <section>
                        <ul type="none">
                            <li>Política de Pagamento</li>
                            <li>Política de Privacidade</li>
                            <li>Troca e Devolução</li>
                        </ul>
                    </section>
                </div>

                <div class="column">
                    <section>
                        <h5>Mapa do Site</h5><br>
                    </section>
                    <section>
                        <ul type="none">
                            <li>Quem Somos</li>
                            <li>Todos os Livros</li>
                            <li>Autores</li>
                            <li>Gêneros</li>
                            <li>Fale Conosco</li>
                        </ul>
                    </section>
                </div>

                <div class="column">
                    <section>
                        <h5>Formas de pagamento</h5><br>
                    </section>
                    <section class="cards">
                        <a href=""><img id="cards" src="../img/cards-transparent.png" alt=""></a>
                    </section>
                </div>
                <div class="column" id="redes-sociais">
                    <section>
                        <h5>Redes Sociais</h5><br>
                    </section>
                    <section>
                        <nav>
                            <a href=""><img height="15rem" src="../img/instagram 1.png" alt=""></a>
                            <a href=""><img height="15rem" src="../img/google-plus-g 1.png" alt=""></a>
                            <a href=""><img height="15rem" src="../img/facebook-f 1.png" alt=""></a>
                            <a href=""><img height="15rem" src="../img/linkedin-in 1.png" alt=""></a>
                        </nav>
                    </section>
                </div>
            </section>
            <section class="autores">
                <nav>
                    <ul type="none">
                        <p>Desenvolvido por</p>
                        <li> <a href="#"> Amanda</a> </li>
                        <li> <a href="#"> Igor</a> </li>
                        <li> <a href="#"> João Paulo</a> </li>
                        <li> <a href="#"> Mateus</a> </li>
                        <li> <a href="#"> Paloma</a> </li>
                    </ul>
                </nav>
            </section>
            <section>
    </footer>
</body>

</html>

</section>



